*{
    font-family: "Khula";
    font-size: 19.5px;
    font-weight: bold;
  }

.forgetpassHead{
    color: white;
    display: flex;
    justify-content: center;
}

.forgetpasssunhead{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.forgetpassMain{
    margin-bottom: 2px;
}

.respSuccessStyle{
    text-transform: capitalize;
    font-size: 12px;
    color: green;
}

.respErrStyle{
    text-transform: capitalize;
    font-size: 12px;
    color: red;

}